.longTermPlanner {
	padding: 1rem;
	margin: auto 10%;

	&__cards {
		display: grid;
		grid-template-columns: 4fr 1fr;
		grid-gap: 2rem;
	}
}

.planner__left {
	@extend %placeholder-card-styling;
	padding: 0;
}

.iconButton {
	border: 0;
	background-color: white;
	padding: 0.5rem;
	border-radius: 5px;
}

span.grippy {
  content: '....';
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px 0 0;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}

span.grippy::after {
  content: '.. .. .. ..';
}