.longTermPlanner {
	padding: 1rem;
	margin: auto 10%;

	&__cards {
		display: grid;
		grid-template-columns: 4fr 1fr;
		grid-gap: 2rem;
	}
}

.planner__left {
	@extend %placeholder-card-styling;
	padding: 0;
}

.iconButton {
	border: 0;
	background-color: white;
	padding: 0.5rem;
	border-radius: 5px;
}

span.grippy {
	content: '....';
	cursor: grab;
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  line-height: 5px;
  padding: 3px 4px 0 0;
  vertical-align: middle;
  margin-top: -.7em;
  margin-right: .3em;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}

span.grippy::after {
  content: '.. .. .. ..';
}

// All passenger cards in the application
%passengerTiles-base {
	display: grid;
	padding: 0.25rem 10px;
	border-radius: 5px;
	min-height: 100px;
	flex: 1;
	align-content: flex-start;
	transition: 200ms;
 }

.passengerTiles {
	@extend %passengerTiles-base;
	background-color: rgba(211, 211, 211, 0.466);

	&--isDraggingOver {
		@extend %passengerTiles-base;
		background-color: lightgreen;
	}

	// The contents of the cards
	&__card {
		@extend %placeholder-card-styling;
		padding: 0.5rem;
		display: grid;
		grid-template-columns: auto auto 1fr;
		grid-template-areas: 
			"drag name trash"
			"drag nickname nickname";
		background-color: white;
		align-items: center;
		margin: 5px 0;

		div:first-child {
			grid-area: drag;
			height: 100%;
			padding: 5px;
		}

		textarea:nth-child(2) {
			grid-area: name;
		}

		textarea:last-child {
			grid-area: nickname;
			opacity: 50%;
		}

		// Hide trash by default
		button {
			opacity: 0;
			justify-self: end;
		}

		// Show trash on hover
		&:hover {
			button {
				transition: 300ms;
				opacity: 1;
			}
		}
	}
}

@media (max-width: 800px) {
	.longTermPlanner {
		margin: 0;
		padding: 0;
		margin-bottom: 75vh; // This is here so the user can scroll down and edit nicknames, without their keyboard blocking the view

		// The event info specifically
		 > p {
			padding: 1rem;
		}

		&__cards {
			grid-template-columns: auto;
			grid-gap: 0;
		}
	}

	.planner__left {
		border: 0;
	}
}