// The left panel of the application
.drivers {
	&__header {
		display: grid;
		grid-template-columns: 1fr auto auto;
		grid-gap: 20px;
		padding: 1rem;
		align-items: center;
	}

	&__statusBar {
		list-style-type: none;
		display: flex;
		background-color: rgb(233, 233, 233);
		padding: 1rem;

		li {
			padding: 0 1rem;

			&:first-child {
				padding: 0
			}

		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 250px);
		grid-gap: 20px;
		padding: 1rem;
	}
}

// Individual driver cards
.driversCard {
	@extend %placeholder-card-styling;
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 250px;

	// We can probably refactor this to be even cleaner if we can figure out CSS grid
	&__headerTop {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		grid-gap: 10px;

		p {
			margin: 0;
		}

		button {
			justify-self: end;
		}
	}

	&__headerBottom {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		grid-gap: 10px;

		div {
			height: 10%;
		}
	}


	&__percentBar {
		&--incomplete {
			@extend %percent-bar-shared;
			background-color: yellowgreen;
		}
		&--complete {
			@extend %percent-bar-shared;
			background-color: #7597CE;
			max-width: 100%;
		}
	}
}
