
.passengersContainer {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1rem;
}

.passengersContainer form {
	margin: 1rem 0;
}

.passengersContainer form input {
	padding: 0.5rem;
	border-radius: 5px;
	margin-right: 10px;
}

.passengerTiles {
	display: grid;
	grid-gap: 10px;
}

.passengerTiles__card {
	display: grid;
	grid-template-columns: 1fr auto;
	cursor: grab;
	background-color: white;
	align-items: center;
}

.passengerTiles__card:hover button {
	transition: 300ms;
	opacity: 1;
}
 
.passengerTiles__card button {
	opacity: 0;
}

.passengerTiles__card p {
	margin: 10px;
}

.passengerTiles__card p:first-child {
	margin-left: 0;
}

.passengerTiles > div {
	border: 1px solid gray;
	padding: 0.5rem;
	border-radius: 5px;
}